body{
    background-color: #444;
}
.lcd {
    float: left;
    background-color: rgba(0, 0, 0, 0.8);
    color: #FFF;
    padding-bottom: 2px;
    padding-left: 1px;
}
.lcd:after {
    content: "";
    clear: both;
}
.char {
    float: left;
    width: 50px;
    word-wrap: break-word;
    line-height: 0.6em;
    margin-bottom: 2px;
    cursor: default;
}
.char > span {
    display: block;
    float: left;
    height: 7px;
    width: 9px;
    line-height: 4px;
    overflow: hidden;
    padding-top: 1px;
    padding-bottom: 1px;
}
.contain {
    float: left;
    clear: left;
}
.hex {
    float: left;
}
